.lesson {
  background-color: purple;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    color: yellow;
  }
  
.section-blue {
  background-color: blue;
  color: orange;
  

}
  
.container {
  background-color: black;
  color: white;
  

}

#section-1 {

}

#section-6 {
  color: yellow;

}
